
#changepw-form {
    margin : 0px auto;
    width:500px;
}
#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    margin-left:120px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:100px;
    cursor:pointer;
}
#submit-button input:hover{
    background: #373b3f;
}

.errorExplanation p {
    font-size:14px;
    font-weight:bold;
    margin:5px 0 0 20px;
}

#student_profile_heading {
    background-color:#FFF1AB;
    border:1px solid #EFDF95;
    clear:both;
    height:25px;
    margin:0 0 40px;
    padding:2px 0 0 190px;
}

#student_main_info {
    float:left;
    text-align:center;
}

#student_main_info span.name {
    margin:0;
    color:#000;
    font-size:14px;
    font-weight: 600;
    letter-spacing:.5px;
    padding-right:20px;
    margin-top:30px;
}
#student_main_info span.course {
    margin : 0;
    font-size:14px;
    padding-right:20px;
    font-weight: 600;
    color : #000;
    margin-top : 10px;
}
#student_main_info span.adm {
    font-size:14px;
    margin : 0;
    font-weight: 600;
    padding : 0;
    color : #000;
    margin-top : 5px;
}