
#timetable {
    /*width : 900px;*/
    margin : 5px 0 30px 0;
	float:left;
	width:800px;
}
#box3 {
	width:780px;
}
#period_list {
	float:left;
	width:173px;
	padding-left:5px;
	padding-top:10px;
}
#form-content {
    border : 1px solid #becffb;
    background-color : #f8f8f8;
    height : auto; width : 600px;
    margin : auto;
    padding : 30px 0 20px 40px;
}
.label-field-pair {
    margin-top : 0px;
    margin-left : 30px;
}
.label-checkbox-pair {
    height : 30px;
    margin-left : 0px;
}
.submit-button{
    width:100px;
    margin:0px auto;
}
#MB_frame .submit-button {
    -moz-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    font-weight:bold;
    margin:0 0 0 170px;
    padding:5px;
}

.submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
table#class-timings-list{
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}

table#class-timings-list tr.tr-head{
    background: #fff;
    color:#158686;
    font-weight:bold;
    text-align:left;
}

table#class-timings-list .tr-head td{
    padding:5px;
    padding-left:10px;
}

table#class-timings-list .tr-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}

table#class-timings-list .tr-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;

}

table#class-timings-list .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-2{
    width:40%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td a{
    text-decoration:none;
    color:#27292b;
}

table#class-timings-list td a:hover{
    color:#990a10;
    text-decoration:underline;
}

table#class-timings-list td.col-3{
    width:13%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-4{
    width:30%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-5{
    width:5%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-6{
    text-align: right;
    width:13%;
    padding: 5px;
    padding-left:10px;

}

.linker a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.linker a:hover{
    color:#b3D5D4800;
    text-decoration: none;
}

.linker{
    margin-bottom: 5px;
}
.timetable_tr {
    clear:both;
    height:52px;
}
.timetable_td {
    float:left;
    width:80px;height:50px;
    border:1px dotted #3D5D48;
    background-color:#f5e9c8;
    font-size:small;
}
.timetable_td_top {
    float:left;
    width:80px; height:25px;
    border:1px dotted #800;
    padding-top:5px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
    margin : 20px 0 0 0;
}
.timetable_td_left {
    float:left;
    font-size : 0.7em;
    width:50px;height:35px;
    border:1px dotted #800;
    padding-top:15px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
}
.timetable_td_tl {
    float:left;
    width:52px;height:35px;
    padding-top:15px;
}
#box{
    background: #c3d9ff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:10px;
    margin: 0px auto;
    width:950px;
}
td{
    color: #9f191f;
    font-weight: bold;
    font-size: 13px;
}
td.td-blank, td.loader, tr.tr-blank{
    width: 10px;
    background: #c3d9ff;
}
table#table{
    background: #a6c7ff;
}
tr.blank td{
    height:  10px;
    background: #c3d9ff;
}
td .name{
    background: #fff;
    height: 30px;
    text-align: center;
    padding:20px 4px 0 4px;
	font-size:12px;
	font-weight:normal;
	width:40px;
}
td .top{
    background: #fff;
    padding:5px 10px 5px 10px;
    text-align: center;
    color: #9f191f;
    font-weight: bold;
    font-size: 10px;

}
.subject span{
    display:none;
    color: #b3D5D4800;
    margin-left: 50px;
    min-width: 100px;
}

.subject:hover span {
    display: block;
    position: absolute;
    background-color: #fff;
    border:4px solid #c3d9ff;
    left: 50px;
    top: -10px;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
    z-index: 2000;
    cursor: pointer;
    font-size: 12px;
    font-variant: small-caps;
}

.subject:hover span .emp-name {
    cursor: pointer;
    color:#000;
    font-size: 10px;
    font-variant: small-caps;
}
.periodname {
	margin:5px 0px;
}
.periodname span.name {
	font-size:12px; font-weight:bold;	
}
.periodname span.time {
	font-size:12px; font-weight:bold;
	margin-left:20px;	
}
.period_button { 
	margin-top:10px;
	
}
.period_button span {
    margin: 5px 0 0 5px;
	
}
.period_button span {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;   
    padding: 7px 10px;
}